.justificar p{
    text-align: justify;
    margin-top: 30px;
}

.centrar_imagen img{
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente, si aplica */
}


/* Estilo de la sección de login */
.login-section {
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin-bottom: 60px;
  margin-left: 35%;
  margin-top: 30px;
}

.login-section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.login-section label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
  padding-top: 10px;
}

.login-section input[type="text"],
.login-section input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.login-section button {
  width: 100%;
  padding: 0;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.login-section button:hover {
  background-color: #1a5be0;
}


html {
  scroll-behavior: smooth;
}



/* Estilo del submenú para que coincida */
#menu ul.submenu {
  list-style: none;
  padding-left: 1em;
  display: none;
  background-color: rgba(255, 255, 255, 0.05);
}

#menu ul.submenu li a {
  display: block;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 0.9em;
  text-transform: none;
  border-top: solid 1px rgba(255, 255, 255, 0.05);
}

#menu ul.submenu li:first-child a {
  border-top: 0;
}

#menu ul.submenu li a:hover {
  color: #fff;
}








